.navbar {
    height: 60px;
    background-color: #effaf0;
    margin: auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 400px;
    padding-right: 400px;

}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
.navbar-left-side {
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1.5em;
    text-decoration: none;
}

.navbar-right-side {
    display: flex;
    gap: 100px;
    text-decoration: none;
    font-size: 1.2em;
    align-items: center;
}

.login,
.signup {
    text-decoration: none;
}

.logout-btn {
    background: none;
    border: 2px solid #0e7f89;
    padding: 3px 8px;
    border-radius: 4px;
    color: #0e7f89;
    cursor: pointer;
    font-weight:500;
}

.logout-btn:hover {
    color: #fff;
    background: #0e7f89;
}